body {
    background-color: black;
    padding: 1%
}

#image {
    width: 100%;
    height: 80%;
    margin-top: 1em;
}


#scr_image {
    display: block;
    margin: auto;
}


.header {
    text-align: center;
    color: white;
    border: solid transparent;
    border-color: white;
}

.header:hover {
    text-align: center;
    color: white;
    border: solid transparent;
    border-image: linear-gradient(to right, red, orange, yellow, green, blue, indigo, violet);
    border-image-slice: 1;
    border-radius: 50%;
}

.header_link,
.header_link:link,
.header_link:visited {
    text-decoration: none;
    color: white;
}