<!DOCTYPE html>
<html>

<head>
    <title>Add User</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link href="css/login.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="login">
        <h1>Login</h1>
        <h2 class="err_msg">
            <%= err_msg %>
        </h2>
        <form action="/send_user" method="post">
            <label for="username">
                <!-- font awesome icon -->
                <i class="fas fa-user"></i>
            </label>
            <input type="text" name="username" placeholder="Username" id="username" required>

            <label for="password">
                <i class="fas fa-lock"></i>
            </label>
            <input type="password" name="password" placeholder="Password" id="password" required>

            <label for="email">
                <i class="fas fa-user"></i>
            </label>
            <input type="email" name="email" placeholder="Email" id="email" required>
            <input type="submit" value="Add User">
        </form>
    </div>
</body>

</html>